<article class="pokemon">
     <div class="title">
        <li class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Caught by: {{username}}</li>
            <img class="card-img-top" src="{{pokemon.front_default}}">
            <h2 class="card-title">{{pokemon.name}}</h2>
            <p class="card-subtitle">Height: {{pokemon.height}}</p>
            <p class="card-subtitle">Weight: {{pokemon.weight}}</p>
            <p class="card-subtitle">Pokédex Entry: {{pokemon.entry_number}}</p>
        </li>
      </div>
    </article>