<div id="pokedex">
  <li class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Caught by: {{user.username}}</li>
      <img class="card-img-top" src="{{front_default}}">
      <h2 class="card-title">{{id}}. {{name}}</h2>
      <p class="card-subtitle">Height: {{height}}</p>
      <p class="card-subtitle">Weight: {{weight}}</p>
      <p class="card-subtitle">Pokédex Entry: {{entry_number}}</p>
  </li>
</div>