{{!--Dashboard--}} 

<section>
  <h2>Find New Pokemon</h2>

  <form class="new-pokemon-form">
    <div class="post">
  <li class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Caught by: {{user.username}}</li>
      <img class="card-img-top" src="{{front_default}}">
      <h2 class="card-title">{{id}}. {{name}}</h2>
      <p class="card-subtitle">Height: {{height}}</p>
      <p class="card-subtitle">Weight: {{weight}}</p>
      <p class="card-subtitle">Pokédex Entry: {{entry_number}}</p>
  </li>
</div>
</section>

{{#if pocketmonsters.length}}
<section>
  <h2>Your Pokemon</h2>
  <ol>
    {{#each pocketmonsters as |post|}}
    <li>
      {{> pokemon-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit pokemon</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-pokemon.js"></script>
