{{!--Dashboard--}} 

<section>
  <h2>Find Pokemon</h2>

  <form class="new-pokemon-form">
     <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</section>

   <article class="pokemon">
     <div class="title">
        <li class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="user-claim">Caught by: {{user.username}}</li>
            <img class="card-img-top" id="front-default" src="{{pokemon.front_default}}">
            <h2 class="card-title" id="name">{{pokemon.id}}. {{pokemon.name}}</h2>
            <p class="card-subtitle" id="height">Height: {{pokemon.height}}</p>
            <p class="card-subtitle" id="weight">Weight: {{pokemon.weight}}</p>
            <p class="card-subtitle" id="entry">Pokédex Entry: {{pokemon.entry_number}}</p>
        </li>
      </div>
    </article>

<script src="/javascript/search-pokemon.js"></script>